h1 {text-align: middle; color: white; font-size: 40px; font-family: serif, garamond}
body {background-color: #333; margin: 0; font-family: Arial, Helvetica, sans-serif;}
p {color: white; font-family: 'Alegreya Sans SC'; font-size: 22px;}
button {border-radius: 10%;}

.div {text-align: center; font-size: 20px; background-color: #340804;}
.div table {width: 100%; }
.div td {width: 50%; border: 4px solid #FFC627; border-style: outset;}
.div button {padding: 15px 40px; font-size: 20px; display: inline-block; margin: 40px; margin-right: 17px; cursor: pointer; vertical-align: top; background-color: #FFC627; color: #340804; border: 4px solid #FFC627; border-style: outset;}
.div button:hover {background-color: #340804; color: #FFC627;}
.div input {display: inline-block; margin: 39px 20px; cursor: pointer}

* {box-sizing: border-box;}

.topnav {overflow: hidden; background-color: #FFC627; border: 4px solid #340804; border-style: outset;}
.topnav a {float: left; display: block; color: #340804; text-align: center; padding: 14px 16px; text-decoration: none; font-size: 17px;}
.topnav a:hover {background-color: #340804; color: #FFC627;}
.topnav a.active {background-color: #340804; color: #FFC627;}
.topnav-right {float: right;}
.topnav .search-container {float: right;}
.topnav input[type=text] {padding: 6px; margin-top: 8px; font-size: 17px; border: none;}
.topnav .search-container button {padding: 5px 5px; font-size: 17px; display: inline-block; margin-right: 8px; cursor: pointer; background-color: #340804; color: #FFC627; border: 4px solid #340804; border-style: outset;}
.topnav .search-container button:hover {background-color: #FFC627; color: #340804;}

@media screen and (max-width: 600px) {
  .topnav .search-container {float: none;}
  .topnav a, .topnav input[type=text] 
  .topnav .search-container button {float: none; display: block; text-align: left; width: 100%; margin: 0; padding: 14px;}
  .topnav input[type=text] {border: 1px solid #340804;}}

.login {
  padding: 20px 50px 50px;
  text-align: center;
  border-radius: 4px;
  background-color: #340804;
  color:#FFC627;
  border: 4px solid #340804; 
  border-style: outset;
  margin: 170px;
  white-space: pre;
}

.register {
  padding: 20px 50px 50px;
  text-align: center;
  border-radius: 4px;
  background-color: #340804;
  color:#FFC627;
  border: 4px solid #340804; 
  border-style: outset;
  margin: 170px;
  white-space: pre;
}

.home {
  padding: 20px 50px 50px;
  text-align: center;
  border-radius: 4px;
  background-color: #340804;
  color:#FFC627;
  border: 4px solid #340804; 
  border-style: outset;
  margin: 170px;
  white-space: pre;
}

.top20 {
  padding: 20px 50px 50px;
  text-align: center;
  border-radius: 4px;
  background-color: #340804;
  color:#FFC627;
  border: 4px solid #340804; 
  border-style: outset;
  margin: 7px;
  white-space: pre;
}